.bash_history
        .config/
        .eclipse/
        .fontconfig/
        .gitconfig
        .gitignore
        .p2/
        .p4merge/
        .sfdx/
        .tooling/
        .viminfo
        .vscode/
        3D Objects/
        AMD_Chipset_IODrivers.log
        AppData/
        ChipsetExtraction.log
        Contacts/
        Creative Cloud Files/
        Desktop/
        Device_ID.log
        DisplayResume/
        Documents/
        Downloads/
        Dropbox/
        Favorites/
        GitProjects/
        Koff & Associates, Inc/
        Links/
        MicrosoftEdgeBackups/
        Music/
        NTUSER.DAT
        NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TM.blf
        NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TMContainer00000000000000000002.regtrans-ms
        OneDrive - Koff & Associates, Inc/
        Pictures/
        Saved Games/
        Searches/
        ToDo-Manager/
        TrailHeadOrgDevModel-1/
        TrailHeadOrgDevModel-2/
        TrailHeadOrgDevModel-3/
        TrailHeadOrgDevModel/
        UdemyClass/
        Videos/
        best-repo-ever/
        bikeCard/
        coverage/
        dataloader/
        eBikes/
        eclipse-workspace/
        eclipse/
        "fdx force\357\200\272org\357\200\272list"
        iCloudDrive/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
        test-lwc/